# Variables In Python

In [1]:
"""We cannot use some of the words in python as they are reserved 
for calling some default functions like boolean functions where True and False are
not be used as they are reserved"""

'We cannot use some of the words in python as they are reserved \nfor calling some default functions like boolean functions where True and False are\nnot be used as they are reserved'

In [2]:
# some examples of the variables using personal expenses

item1 = 25000
item2 = 12500
item3 = 3560
item4 = 5410

total = item1+item2+item3+item4
print("total expense is: ",total)

total expense is:  46470

# Numbers in Python

In [3]:
10-2

8

In [4]:
5+8+9

22

In [5]:
8/2

4.0

In [6]:
3*3

9

In [7]:
dist_K_L = 1600
dist_L_I = 450
total_dist = dist_K_L + dist_L_I
speed = 100
total_time = 24
avg_speed = total_dist / total_time
round(avg_speed,2) # round is the key word used for the rounding up the number to n significant figures

85.42

# Strings in Python

In [8]:
# if we store any string in the variable 
# the way any string is stored is through index values which starts from 0
# for example

word = 'alphabet'
word[0]

# the word at 0 index value is a
# we can do string slicing 
word[0:3] # here it will go from 0 index to 2 not 3

'alp'

In [9]:
# we can add two strings as well
a = "heloo"
b = "world"
a + " " + b

'heloo world'

In [10]:
# we can also add string with a number as well using str() function

a = 25
b ="street"

str(a)+' ' + b

'25 street'

# If Statement

In [11]:
# if statement is used when there are multiple conditions used when an input is taken from a user

In [12]:
# for e.g taking an input from the user and then deciding whether it is an odd or even number

num = int(input("Enter A Number:")) #We use input() to read a number and int() to convert it to an integer, as input returns a string.

if num%2 == 0:
    print("the number is even")
else:
    print("the number is odd")

Enter A Number: 2

the number is even

# For Loop

In [13]:
# calculating the expenses which in a list 

exp = [2130,2150,3100,512,2546]
# normal calculation is done this way
cal1= exp[0] + exp[1] + exp[2] + exp[3] + exp[4]
print("this is the total cal1:", cal1)

# using the for loop
cal2 = 0
for item in exp:
    cal2 = cal2 +item

print("this is the total cal2:", cal2)

this is the total cal1: 10438
this is the total cal2: 10438

In [14]:
# printing 1 to 10 using range() fn
for i in range(1,11): # in range fn for example if we have to put number till 10 then we will have to put 11 as the function works in n-1 
    print(i)

# for a square of number
for j in range(1,11):
    print(f"Square of Number {j}:",j*j)

1
2
3
4
5
6
7
8
9
10
Square of Number 1: 1
Square of Number 2: 4
Square of Number 3: 9
Square of Number 4: 16
Square of Number 5: 25
Square of Number 6: 36
Square of Number 7: 49
Square of Number 8: 64
Square of Number 9: 81
Square of Number 10: 100

In [15]:
# searching for a lost key and terminating the function when found

key_location = "under the bed"
locations = ["living room","behind the desk","inside the bag","under the bed","in the office"]
for location in locations:
    if location == key_location:
        print("key was found:",location)
        break
    else:
        print("key was not found at:",location)


# in this for loop the location was found in the 3rd index location hence the for loop is break and it did not iterated at 4th index

key was not found at: living room
key was not found at: behind the desk
key was not found at: inside the bag
key was found: under the bed

In [16]:
# printing square numbers except for even numbers

for i in range(1,25):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23

# Functions

In [17]:
# function made code modulars
# using function for list calculation
""" in this code we have used function to calculate the values in the list a and b"""
list_a = [2000,1234,4543,3453]
list_b = [2131,5435,1231,3243]

def calculation(value):
    """ this variable named as total will be only available in this function and cannot be called outside this function"""
    total = 0
    for values in value:
        total = total + values
    print("list total is: ",total)
    return total

list_a_total = calculation(list_a)
list_b_total = calculation(list_b)

""" now making a second funtion to take the sum of two integers by taking 2 arguements in the function"""

def sum(x,y):
    total = x + y
    return total
a = sum(5,7)
print("sum is:",a)

list total is:  11230
list total is:  12040
sum is: 12

# Dictionaries and Tuples

In [18]:
# dictionaries is a set of "key and Value" pair where both values are placed in curly bracket {}
# taking an e.g of income in dollar or three people
"""in a dictionary there are pairs of key and value which can be accessed by calling the dictionary variable and writing the key in square [] brackets"""

income = {"bilal":3000, "Shahood":3220, "Moiz":5000}
income["bilal"]

# adding a key value pair in existing dictionary
income["ahmed"] = 3241
income
"""there is differernce in dictionary and tuple that dictionary is homogeneous"""
"""tuple is hetrogeneous meaning there can be int and string init at same time"""
"""just like dictionary there is tuple but the values in tuple cannot be changed"""
a = (9,6,7)
# now  changing the value of tuple
a[2] = 8

TypeError: 'tuple' object does not support item assignment

# Modules in Python

In [19]:
"""There are multiple modules in python which can be used for multiple purposes"""
# for e.g math module

import math
a = math.sqrt(16)
b =math.pow(2,6)
print(a)
print(b)

# we can use dir command to check the number of function available in a module  
# another module is calendar
import calendar as cl
cal = cl.month(1996,12)
print(cal)

4.0
64.0
   December 1996
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

# Working with JSON

In [20]:
# JSON = Java script object notation 
# JSON is similar to XML
# JSON is like a dictionary and is light weight
"""We will write two programs first we will create an address book and secondly we will read the address book"""

book = {}
book['tom'] = {
    'name' : 'tom',
    'address' : 'street 3 house 214',
    'phone' : 123456789
}

book['bob'] = {
    'name' : 'bob',
    'address' : 'street 2 house 109',
    'phone' : 987654321
}

import json
s = json.dumps(book)
print(s)
import sys
with open("d://Notebook//python//json.txt","w") as f:
    f.write(s)

{"tom": {"name": "tom", "address": "street 3 house 214", "phone": 123456789}, "bob": {"name": "bob", "address": "street 2 house 109", "phone": 987654321}}

In [21]:
# reading the data from the json file
read = open("d://Notebook//python//json.txt","r")
a = read.read()
a
book_1 = json.loads(a)
book_1

{'tom': {'name': 'tom', 'address': 'street 3 house 214', 'phone': 123456789},
 'bob': {'name': 'bob', 'address': 'street 2 house 109', 'phone': 987654321}}

In [22]:
type(book)

dict

In [23]:
book_1['bob']

{'name': 'bob', 'address': 'street 2 house 109', 'phone': 987654321}

In [24]:
# printing all the values in the book_1
for person in book_1:
    print(book_1[person])

{'name': 'tom', 'address': 'street 3 house 214', 'phone': 123456789}
{'name': 'bob', 'address': 'street 2 house 109', 'phone': 987654321}

# Reading and Writing Files

In [25]:
# Create a new file and Write to it
# read file line by line
# File open Modes
# with statement

# creating a file
f = open("d:\\Notebook\\python\\writefile.txt","w")
f.write("This Text was written from a notebook")
f.close()
# for appending any text in the file we put "a" in the place of "w" and put \n so that it writes in the new line

# Simple way of reading a file
r = open("d:\\Notebook\\python\\readfile.txt","r")
# print(r.read()) -> this is also a way of reading out a file
for word in r:
    print(word)
r.close()

Ami: Bilal Khana Khaya

Bilal: nai abi nai khaya

Ami: kb khaogy phir

Bilal: raat ko ghr akar

In [26]:
# now we are counting the number of words in a line
r = open("d:\\Notebook\\python\\readfile.txt","r")
r_out = open("d:\\Notebook\\python\\readfile_out.txt","w")
for word in r:
    tokens = word.split(" ") # tokens is the number of words in a line
   # print(str(tokens)) # this separates the words in " "
   # print(len(tokens)) # this will count the number of words in each line
    r_out.write("wordcount:"+str(len(tokens))+" "+word)
r.close()
r_out.close()



"""
We could have used 'with' statement here which allows us not to write the r.close() as it does it by itself
with open("d:\\Notebook\\python\\readfile.txt","r") as r:
print(r.read())
"""

'\nWe could have used \'with\' statement here which allows us not to write the r.close() as it does it by itself\nwith open("d:\\Notebook\\python\\readfile.txt","r") as r:\nprint(r.read())\n'

# Exception Handling

In [27]:
# exceptions are error detected at the time of execution of program
# taking the example of division by 0 which is not possible or it is infinity
# in this example we will put 0 as second input
a = int(input("number 1:"))
b = int(input("number 2: "))
c = a/b
print(c)
# the output will show a traceback or error where division is not possible

number 1: 2
number 2:  5

0.4

In [28]:
# Now we will write the code for the execption handling
a = int(input("number 1:"))
b = int(input("number 2: "))
try:
    c = a/b
except ZeroDivisionError as e:
    c = None
    print("Zero Exception occured: ",e)
print(c)
# we could use anything in the place of ZeroDivisionError but it is by default used for division by zero

number 1: 5
number 2:  6

0.8333333333333334

In [29]:
# for handling multiple exceptions 
# taking example that the number 2 input is a string 
a = int(input("number 1:"))
b = input("number 2: ")
try:
    c = a/b
except ZeroDivisionError as e:
    c = None
    print("Zero Exception occured: ",e)
except TypeError as f:
    c = None
    print("TypeError exception occured")
print(c)

number 1: 2
number 2:  a

TypeError exception occured
None

# Class and objects


What is class?
Taking an example of a human being
there are common things a human has

1) Name
2) Gender 
3) Occupation

all of these things are must for every human being which makes it a property

same way there is a thing called method
method is like an act done by a human being for e.g

1) Sleep
2) talk
3) walk
4) eat

which bring us to a conclusion that class is a combination of propertise and methods or a blue print or template

Now what is object?
it is an instance of a class or the entity created according to the blue print
any two object of the same class can have similar propertise and methods

In [30]:
# making a class in python
class Human:

# we are defining the propertise of a class 
# self here means the class it self or we can say to initialise the attributes of an object
    def __init__(self,n,o): 
        self.name = n
        self.occupation = o

    
# now we are defining the methods     
    def do_work(self):
        if self.occupation == "tennis player":
            print(self.name,"plays tennis")
        elif self.occupation == "Actor":
            print(self.name,"is an Actor")

    def speaks(self):
        print(self.name,"says how are you")


# now creating the an instance

bilal = Human("Tom Cruise", "Actor")
bilal.do_work()
bilal.speaks()

Ali = Human("Ali","tennis player")
Ali.do_work()
Ali.speaks()

Tom Cruise is an Actor
Tom Cruise says how are you
Ali plays tennis
Ali says how are you

# Inheritance

taking an example of a class vehicle as vehicle is known as a mode of transportation
now a car and motor cycle both are vehicle which are used for any transportation
both have their own propertise methods
we can say we have derived a subclass from main class vehicle
or we can say that both the class "car" and "motorcycle" are classes that inherit some propertise from the class "Vehicle"

Benefits of inheritance
1) code reuse -> we can use same code on other app as well
2) extensibility -> we can customize the code according to our need
3) readability -> it provides a proper structure of the code

In [31]:
class Vehicle:
    def general_usage(self):
        print("used for transportation")


class Car(Vehicle):
    def __init__(self):
        print("I am Car")
        self.wheels = 4
        self.roof = True

    def specific_usage(self):
        print("use to commute to work")

class MotorCycle(Vehicle):
    def __init__(self):
        print("I am MotorCycle")
        self.wheels= 2
        self.root = False

    def specific_usage(self):
        print("used for Bike racing")

c = Car()
c.general_usage()
c.specific_usage()
print("\n")
m = MotorCycle()
m.general_usage()
m.specific_usage()
print("\n")
# we use two builtin methods which are isinstance and issubclass method
# it tell us if an object is an instance of a specific class

print(isinstance(c,Car))
print(issubclass(Car,Vehicle))

I am Car
used for transportation
use to commute to work


I am MotorCycle
used for transportation
used for Bike racing


True
True

We can remove the general usage function call and we can call it directly by calling it in the child class for example 

class Vehicle:
    def general_usage(self):
        print("used for transportation")


class Car(Vehicle):
    def __init__(self):
        print("I am Car")
        self.wheels = 4
        self.roof = True

    def specific_usage(self):
        print("use to commute to work")
        self.general_usage()

class MotorCycle(Vehicle):
    def __init__(self):
        print("I am MotorCycle")
        self.wheels= 2
        self.root = False

    def specific_usage(self):
        print("used for Bike racing")
        self.general_usage()

c = Car()
c.specific_usage()

print("\n")

m = MotorCycle()
m.specific_usage()


using this code we can simply call the specific_usage function and in that function we are also
calling the general_usage function as well

# Multiple Inheritance

In [32]:
# Multiple Inheritance is used when there are 2 different class and their propertise are used in 
# a child class for calling a specific function

class Father():
    def gardening(self):
        print("I do gardening")

class Mother():
    def cooking(self):
        print("I do Cooking")

class Child(Father,Mother):
    def sport(self):
        print("I am child one enjoy sports")

class Uncle():
    def skills(self):
        print("I do programing and API stuff")

class Aunty():
    def skills(self):
        print("I do cloud engineering")

class Child_two():
    def learning(self):
        print("I am child two learning programing")
        Uncle.skills(self)
        Aunty.skills(self)
        

c = Child()
c.sport()
c.gardening()
c.cooking()
print("\n\n")

c_2 = Child_two()
c_2.learning()

I am child one enjoy sports
I do gardening
I do Cooking



I am child two learning programing
I do programing and API stuff
I do cloud engineering

# Raise Exception and Finally

In [39]:
class Accident(Exception): # creating a user defined exception where (Exception) is a predefined method in python
    def __init__(self,msg):
        self.msg = msg
    def other_route(self):
        print("Accident ahead take alternative route",self.msg)



try:
    raise Accident('Crash of 2 cars')
except Accident as e:
    e.other_route()

# exception is basicaly an object/instance of a class

Accident ahead take alternative route Crash of 2 cars

Finally Statement is used because when ever we are writing the code and in the TRY section of code there are 1000 line of code where we dont know how many exception are happening therefore we use the finally key word for closing the file because if we dont use it and an exception occurs the execution might stop but the file which we might have accessed would still be using the resources.

In [45]:
# writing a code for finally key word

def process_file():
    try:
        f = open("d:\\Notebook\\python\\calculation.txt")
        x = 1/0
    except FileNotFoundError as e:
        print("inside except")
    finally:
        print("cleaning up file")
        f.close()

process_file()

cleaning up file

ZeroDivisionError: division by zero

# Iterators

In [47]:
a = ['hey','bro','how','are','you']
for i in a:
    print(i)

hey
bro
how
are
you

In [49]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [51]:
itr = iter(a)
itr